# Set

In [1]:
#set is unordered collection of unique elements
#enclosed with()
#set objects are mutable
#duplicates and slicing are not allowed
#creating set with {} curly bracket
#elements seperate by ,

# creation

In [4]:
set1={43,56,77,45,56}
set1

{43, 45, 56, 77}

In [1]:
#set function
set2=set({45,23,4,56,7,54,65})
set2

{4, 7, 23, 45, 54, 56, 65}

In [2]:
set3=set("vaishnavi")
set3

{'a', 'h', 'i', 'n', 's', 'v'}

In [9]:
#Accessing set elements
#access the element using looping statement 
s1={91,4,(22,33),34}
for i in s1:
 print(i)

(22, 33)
91
4
34

In [10]:
s1

{(22, 33), 34, 4, 91}

In [11]:
# we can delete the set using del keyword
del s1

In [16]:
#methods on set
#1.union
set4={21,3,4,5,4,6}
set5={4,5,6,7,34,3}
set4.union(set5)

{3, 4, 5, 6, 7, 21, 34}

In [17]:
#2.Intersection
#it retuens the common elements of 2 sets
set4.intersection(set5)

{3, 4, 5, 6}

In [18]:
#difference
#It returns a set with elements which are not in all other sets
set4.difference(set5)

{21}

In [19]:
set5.difference(set4)

{7, 34}

In [20]:
#Mutation operations on set
#1.add-It adds an element to the set
s1={3,554,21,65,76,8,7,65,54}
s1.add(50)
s1

{3, 7, 8, 21, 50, 54, 65, 76, 554}

In [21]:
#It removes the element of set
#if element not in set it shows error
s1.remove(554)
s1

{3, 7, 8, 21, 50, 54, 65, 76}

In [26]:
#3.discard
#It removes the element from set
s1=set(range(50,65,3))
s1.discard(59)
s1

{50, 53, 56, 62}

In [27]:
#4.pop
#It removes and returns the removed element from set
#no indexing so it removes random last elements
s1=set(range(1,100,10))
s1.pop()
s1

{11, 21, 31, 41, 51, 61, 71, 81, 91}

In [28]:
#clear
s1

{11, 21, 31, 41, 51, 61, 71, 81, 91}

In [29]:
s1.clear()
s1

set()

In [30]:
#Updation operations on sets
#1.update
#It adds elements from set2,.....,setn
s1={54,5,3,2,54,2,34}
s2={5,45,3,23,13,5,6,7}
s1.update(s2)
s1

{2, 3, 5, 6, 7, 13, 23, 34, 45, 54}

In [31]:
#also it represnt in the symbol |=
s1|=s2
s1

{2, 3, 5, 6, 7, 13, 23, 34, 45, 54}

In [33]:
#intersection_update
#it returns the common element from all sets
s1={42,5,43,2,34,56,4,9}
s2={45,6,7,3,4,5,6}
s1.intersection_update(s2)
s1

{4, 5}

In [34]:
# also it represnt in the symbol &=
s1&=s2
s1

{4, 5}

In [36]:
#Function on Set
#1.len
#this returns number of element in set
s1={70,38,57,2,83,8}
len(s1)

6

In [37]:
#2.sum
#returns the sum of element in the set
sum(s1)

258

In [38]:
#3.sorted
#sorts the element of set in ascending or descending order
#Ascending order
s1={5,45,3,45,7,5,6,42,6,7,56,6}
sorted(s1)

[3, 5, 6, 7, 42, 45, 56]

In [39]:
#Descending order
sorted(s1,reverse=True)

[56, 45, 42, 7, 6, 5, 3]

In [40]:
max(s1)

56

In [41]:
min(s1)

3